<div id="app" class="h-screen grid gap-2">
  <div class="[grid-area:main] py-4 px-50 text-white">
    <div class="header-section">
      <div class="w-1/2">
        <img [src]="concert.image" [alt]="concert.artist.name" class="w-full object-fill max-h-[30rem] rounded-xl shadow-[#CB6CE6] text-base shadow-xl"/>
      </div>
      <div class="w-1/2">
        <div class="concert-info">
          <h1 class="title mb-4">¡{{ concert.artist.name }} llega a Lima!</h1>
          <p class="font-medium">{{ concert.description }}</p>
          <div class="venue-section font-medium mb-10">
            <h3>📍 Lugar: {{ concert.venue.name }}</h3>
            <p>{{ parseDate(concert.date) }} - {{ concert.venue.address }}</p>
          </div>
        </div>
        <div class="button-group">
          <button class="button" (click)="toggleAttendance()">
            {{ isAttending ? 'Cancelar asistencia' : 'Confirmar asistencia' }}
          </button>
          @if (isOwner) {
            <button class="button" (click)="deleteConcert()">Borrar concierto</button>
          }
        </div>
      </div>
    </div>
    <div class="fan-section">
      <h4 class="fan-header text-2xl font-bold mb-4">Comunidad de fans</h4>
      <div class="fan-container items-center rounded-xl">
        <p>
          Conoce a <span class="highlight">fans</span> que
          <span class="highlight">asistirán</span> al concierto
        </p>
        <div class="fan-list">
          <span *ngFor="let n of [].constructor(15); let i = index" class="fan-handle">
              {{ '@fan' + (i + 1) }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  #app {
    grid-template-areas:
    "toolbar toolbar"
    "main main";
    grid-template-columns: 300px 1fr;
    grid-template-rows: 60px auto;
  }
</style>
