@if (showToolbar) {
  <div class="fixed w-screen p-2 m-2 flex items-center justify-between bg-black h-15">
  <mat-toolbar class="toolbar flex justify-between">
    <img src="https://the-rumbling.github.io/StayMap-Landing_Page/starymaplogo.png" alt="Logo" class="size-12"/>
    @for (option of options; track option) {
      <nav class="nav-links flex">
        <a [routerLink]="option.link" routerLinkActive="active" class="nav-link">{{ option.label }}</a>
      </nav>
    }
    <div class="pt-5">
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput type="text" [(ngModel)]="searchInput" (ngModelChange)="onSearchInput($event)"/>
        <button mat-icon-button matSuffix></button>
      </mat-form-field>
    </div>
    @if (!isLoggedIn){
      <button class="login-button px-8 py-1 rounded-full" [routerLink]="['/login']">Log in</button>
    } @else {
      <button mat-raised-button [routerLink]="['/profile']">
        <img class="size-11 rounded-full border-2" alt="photo" [src]="currentProfilePhoto"/>
      </button>
    }
  </mat-toolbar>
</div>
}
<main>
  <router-outlet></router-outlet>
</main>
<style>
.toolbar {
  color: white;
}

.nav-links {
  display: flex;

  .nav-link {
    font-size: 20px;

    &.active,
    &:hover {
      color: #CB6CE6;
    }
  }
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
}

.nav-links a.active-link {
  color: #CB6CE6;
}

.login-button {
  background: #CB6CE6;
  font-weight: 600;
  font-size: 20px;
}
</style>