<h2> {{ 'New Concert' }} </h2>
<div class="form-portion">
  <form #concertForm="ngForm" (ngSubmit)="onSubmit()" class="form-row">
    <mat-form-field id="artist-name-form-field">
      <input [(ngModel)]="concert.artist.name" matInput name="artist-name" placeholder="Artist Name" required>
    </mat-form-field>
    <mat-form-field appearance="fill" class="genre-form-field">
      <mat-label>Artist Genre</mat-label>
      <mat-select
        class="genre-select"
        [ngModel]="concert.artist.genre"
        (ngModelChange)="concert.artist.genre = $event"
        name="artist-genre"
        #genreSelect="ngModel"
        required>
        <mat-option value="" disabled class="genre-placeholder">Select a genre</mat-option>
        <mat-option *ngFor="let genre of genres" [value]="genre" class="genre-option">
          {{ genre }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="genreSelect.invalid && genreSelect.touched">
        Genre is required
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
    <mat-label>Date</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="concert.date" name="date" required />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field id="image-form-field">
      <input [(ngModel)]="concert.image" matInput name="image" placeholder="Image URL" required>
    </mat-form-field>
    <mat-form-field id="description-form-field">
      <input [(ngModel)]="concert.description" matInput name="description" placeholder="Description">
    </mat-form-field>
    <mat-form-field id="venue-name-form-field">
      <input [(ngModel)]="concert.venue.name" matInput name="venue-name" placeholder="Venue's name" required>
    </mat-form-field>
    <mat-form-field id="venue-address-form-field">
      <input [(ngModel)]="concert.venue.address" matInput name="venue-address" placeholder="Venue's address" required>
    </mat-form-field>
    <ng-container>
      <button color="primary" mat-raised-button>{{ 'Add' }}</button>
      <button (click)="onCancel()" color="warn" mat-raised-button>Cancel</button>
    </ng-container>
  </form>
</div>
